name: SafePtr CI

on:
  push:
  pull_request:

jobs:
  build-test:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        compiler: [gcc, clang, msvc]

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4

    - name: Install Dependencies (Ubuntu)
      if: matrix.os == 'ubuntu-latest'
      run: sudo apt update && sudo apt install -y build-essential clang

    - name: Configure
      run: cmake -B build -DCMAKE_CXX_COMPILER=${{ matrix.compiler }} .

    - name: Build
      run: cmake --build build --config Release --parallel

    - name: Run Tests
      run: ctest --test-dir build --output-on-failure
